.homeContainerComponent {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #070707;
  justify-content: center;
  align-items: center;
}
.contenedorPrincipal {
  height: 100%;
  width: 100%;
  min-height: 566px;
  position: relative;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  font-family: "Urbanist", sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  margin-right: 60px;

  .texto {
    h1 {
      color: #ccd6f6;
      font-size: 7vw;
      margin: 0;
      text-align: center;
      font-weight: 600;
      letter-spacing: 3.6px;
      animation: fadeIn 1s 1.7s backwards;
      // text-shadow: 1px 1px 7px rgb(0, 0, 0), 0 0 7em rgb(255, 255, 255),
      //   0 0 0.9em rgb(255, 255, 255);
      ._smaller {
        font-size: 5vw;
      }
      ._smaller1 {
        font-size: 5vw;
        margin-top: 10px;
      }
    }
    h2 {
      color: #ffffff;
      margin-top: 50px;
      font-weight: 400;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
      text-align: center;
      text-shadow: 3px 2px 8px rgba(0, 0, 0, 0.86);
      span {
        font-size: 0.9vw;
        display: inline-block;
        position: relative;
      }
      span:not(:first-child)::first-letter {
        color: #ff4b4b;
      }
    }
    button {
      background-color: transparent;
      font-size: 0.8vw;
      color: #dadada;
      font-weight: 400;
      letter-spacing: 4px;
      padding: 10px 18px;
      border: 1px solid #dadada;
      margin-top: 50px;
      float: left;
      animation: fadeIn 1s 1.8s backwards;
      white-space: nowrap;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #ec5252;
        border: 1px solid #ec5252;
        color: #ffffff;
        transition: 0.5s;
      }
    }
  }
}

.imagenContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  z-index: 1;
  margin-left: -30px;
  margin-top: -30px;

  opacity: 0; // Comienza con la imagen invisible
  transform: translateY(
    20px
  ); // Mueve la imagen hacia abajo (igual que la animación de float)
  transition: opacity 1s, transform 1s; // Agrega transiciones para suavizar la aparición

  &.visible {
    opacity: 1; // Muestra la imagen cuando la clase .visible se agrega
    transform: translateY(0); // Levanta la imagen a su posición original
  }
}
.imagen-flotante {
  width: auto; /* Ajusta el tamaño según tus necesidades */
  height: 65%;
  position: relative;
  margin: 50px auto; /* Ajusta el margen según tus necesidades */
  animation: float 3s infinite ease-in-out;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Ajusta la distancia de flotación */
  }
}
#section10 {
  a {
    span {
      position: absolute;
      bottom: 30px;
      left: 50%;
      width: 30px;
      height: 50px;
      margin-left: -15px;
      border: 2px solid #fff;
      border-radius: 50px;
      box-sizing: border-box;
      animation: fadeIn 1s 2s backwards;

      &::before {
        position: absolute;
        top: 10px;
        left: 50%;
        content: "";
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: #fff;
        border-radius: 100%;
        -webkit-animation: sdb10 2s infinite;
        animation: sdb10 2s infinite;
        box-sizing: border-box;
      }
    }
  }
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

//mobile

@media (max-width: 765px) {
  .contenedorPrincipal {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .texto {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      width: 90%;
      max-height: 90%;
      text-align: center;
      h1 {
        color: #ccd6f6;
        font-size: 33px;
        margin: 0;
        font-weight: 600;
        letter-spacing: 3.6px;
        animation: fadeIn 1s 1.7s backwards;
        // text-shadow: 1px 1px 7px rgb(0, 0, 0), 0 0 7em rgb(255, 255, 255),
        //   0 0 0.9em rgb(255, 255, 255);
      }
      h2 {
        span {
          font-size: 15px;
        }
      }
    }
  }
  .imagen-flotante {
    width: auto; /* Ajusta el tamaño según tus necesidades */
    height: 55%;
    position: relative;
    margin: 50px auto; /* Ajusta el margen según tus necesidades */
    animation: float 3s infinite ease-in-out;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
